@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&family=Lato&family=Ubuntu&family=Protest+Guerrilla&family=Poppins&display=swap');
@font-face {
    font-family: Matrix;
    src: url(Matrix-MZ4P.ttf);
    
}
@font-face {
    font-family: Mokoto;
    src: url(Mokoto\ Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body{
    background-color: black;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: lime;
    font-size: 5rem;
    font-family: 'Matrix',monospace;
    padding: 0 2rem;
    border-radius: 1rem;
    transition: all .3s ease-out;
    animation-name: fadein;
    animation-duration: 1s;
    letter-spacing: 7px;
}

h2{
    color: lime;
    font-size: 8vmin;
    font-family: 'Mokoto',monospace;
    padding: 0 2rem;
    letter-spacing: 3px;
}
h3{
    color: lime;
    font-size: 6vmin;
    font-family: 'Roboto',sans-serif;
    padding: 0 2rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 30px lime;
}

h4{
    color: #fff;
    font-size: 5.5vmin;
    font-family: 'Ubuntu',sans-serif;
    padding: 1rem;
    width: 100%;
    letter-spacing: 1px;
    text-shadow: 0px 0px 30px #fff;
    text-align: center;
}
p{
    color: #fff;
    font-size: 3.7vmin;
    width: 90%;
    font-family: 'Poppins',sans-serif;
    margin: 2rem auto;
    text-align: center;
}
span{
    color: #00ff00;
    text-shadow: 0px 0px 30px lime;
    font-weight: bold;
}
@keyframes fadein{
    from{opacity: 0; transform: translateY(-20px);}
    to{opacity: 1; transform: translateY(0px);}
}
.glow{
    text-shadow: 0px 0px 30px lime;
}

/* h1:hover{
    background-color: white;
    color: black;
} */

.bgvideo{
    min-width:100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem 0;
}

.arch{
    margin-right: -140px;
    animation: spin linear 20s infinite;
    opacity: .7;
    z-index: -1;
}
@keyframes spin{
    from{transform: rotate(-360deg);}
    to{transform: rotate(360deg);}
}
.mainlog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.yrs{
    width: 300px;
    margin-top: -110px;
    margin-left: 170px;
    box-shadow: 10px 10px 5;
    animation: faderight ease-in 1.3s, blink linear 5s infinite;
}

@keyframes blink{
    71%{opacity: 1;}
    73% {opacity: 0;}
    75% {opacity: 1;}
    77% {opacity: 0;}
    80%{opacity: 1;}
}
@keyframes faderight{
    from{opacity: 0; transform: translateX(-30px);}
    to{opacity: 1; transform: translateX(0px);}
}

.glob{
    width: 400px;
    margin-top: -400px;
    margin-right: -300px;
    z-index: -1;
    opacity: .3;
}

@media screen and (max-width:480px) {
    h1{
        font-size: 8vmin;
    }
    .arch{
        width: 30vmin;
        margin-right: -25vmin;
    }
    .yrs{
        width: 45vmin;
        margin-top: -20vmin;
        margin-right: 30vmin;

    }
    .container{
        height: auto;
        margin: 5rem 0;
    }
    .glob{
        width: 50vmin;
        margin-top:-55vmin;
        margin-right: -40vmin;
    }
    /* .poster{
        width: 20rem;
    } */
    .timer p{
        margin: 0 1vmin;
        font-size: 2.5vmin;
    }

    .tec{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .notec{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .coords{
        flex-direction: column;
    }
    .items{
        text-align: justify;
    }
    .footest{
        font-size: 3vmin;
    }
}

.regbtn{
    font-size: 5.5vmin;
    border: 1px solid lime;
    border-radius: 15px;
    color: #00ff00;
    padding: 1rem;
    background-color: transparent; 
    font-family: 'Protest Guerrilla', monospace;
    margin: 1.5rem .5rem;
    width: 60vmin;
    transition: all .5s ease-out;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.regbtns{
    font-size: 5.5vmin;
    border: none;
    background-color: transparent; 
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    margin: 2rem 0;
    transition: all .5s ease-out;
    color: #00ff00;
}
.regbtns a{
    border: none;
    text-decoration: none;
    margin: 2rem 0;
    transition: all .4s ease-out;
    color: #00ff00;
}
.allbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vmin;
}
.regbtn:hover{
    background-color: #00ff00;
    color: #000;
    box-shadow: 0px 0px 30px 1px white;

}

.regbtns:hover a{
    color: white;
    text-shadow: 0px 0px 50px white;
}   

.eve{
    width: 100%;
    height: fit-content;
}
.eve p{
    font-family: 'Lato',sans-serif;
    font-size: 3.5vmin;
    font-weight: bold;
}
.tec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;

}
.notec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.evebtn{
    font-family: 'Inconsolata',monospace;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 5.5vmin;
    margin: 1rem 3rem;
    border: 1px solid lime;
    cursor: pointer;
    transition: all .3s ease-in;
}
.evebtn:hover{
    background-color: #00ff00;
    color: #000;
    box-shadow: 0 0 15px 1px #fff;
}
.poster{
    width: 90%;
    cursor: pointer;
    /* border: 2px solid lime; */
    padding: 10px;
}

.timer{
    margin:1.5rem 0 6rem 0;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}
.timer p{
    margin: 0 1vmin;
    font-size: 5vmin;

}
.timer p span:nth-child(3){
    /* border: 1px solid white; */
    padding: 10px;
    border-radius: 10px;
} 
.colon{
    font-size: 8vmin;
}

.rulelist{
    list-style: square;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    margin: 1rem;
    text-align: left;
    color: white;
}

.rules{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    font-size: 3.7vmin;
    width: 90%;
    font-family: 'Poppins',sans-serif;
}

.coords{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vmin auto;
    font-size: 3.7vmin;
    width: 100%;
    font-family: 'Poppins',sans-serif;
}

.sponsor{
    width: 100%;
    margin: 0;
    font-size: 2.7vmin;
    /* background-color: transparent;
    backdrop-filter: blur(5px); */
    margin-top: 4vmin;
    padding: 8vmin 0;
}

.sponsor ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsor li {
    margin: 0 10px;
    list-style: none;
    position: relative;
    border-radius: 10px;
}

.sponsor img {
    width: 25vmin;
    aspect-ratio: 1/1;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    margin: 0 2vmin;
}

/* @keyframes scroll {
    from {
        margin-left: 0%
    }

    to {
        margin-left: -100%
    }
} */

.footest{
    width: 100%;
    margin: 0;
    font-size: 2.7vmin;
    /* background-color: transparent;
    backdrop-filter: blur(5px); */
    text-shadow: 0px 0px 30px white;
}