@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&family=Poppins&display=swap');
@font-face {
    font-family: Matrix;
    src: url(Matrix-MZ4P.ttf);
    
}
@font-face {
    font-family: Mokoto;
    src: url(Mokoto\ Demo.ttf);
}
html{scroll-behavior: smooth;}
body{
    background-color: black;
    text-align: center;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}
h1{
    color: lime;
    font-size: 5rem;
    font-family: 'Matrix',monospace;
    padding: 0 2rem;
    border-radius: 1rem;
    transition: all .3s ease-out;
    animation-name: fadein;
    animation-duration: 1s;
    letter-spacing: 7px;
}

h2{
    color: lime;
    font-size: 12vmin;
    font-family: 'Mokoto',monospace;
    padding: 0 2rem;
    letter-spacing: 3px;
}
h3{
    color: lime;
    font-size: 8vmin;
    font-family: 'Roboto',sans-serif;
    padding: 0 2rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 30px lime;
}
p{
    color: #fff;
    font-size: 4.2vmin;
    width: 90%;
    font-family: 'Poppins',sans-serif;
    margin: 30px auto;
    text-align: center;
}
span{
    color: #00ff00;
    text-shadow: 0px 0px 30px lime;
    font-weight: bold;
}
@keyframes fadein{
    from{opacity: 0; transform: translateY(-20px);}
    to{opacity: 1; transform: translateY(0px);}
}
.glow{
    text-shadow: 0px 0px 30px lime;
}

/* h1:hover{
    background-color: white;
    color: black;
} */

.bgvideo{
    min-width:100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0%;
    bottom: 0%;
    transform: translate(0%,0%);
    z-index: -1;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem 0;
}

.arch{
    margin-right: -140px;
    animation: spin linear 20s infinite;
    opacity: .7;
    z-index: -1;
}
@keyframes spin{
    from{transform: rotate(-360deg);}
    to{transform: rotate(360deg);}
}
.mainlog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.yrs{
    width: 300px;
    margin-top: -110px;
    margin-left: 170px;
    box-shadow: 10px 10px 5;
    animation: faderight ease-in 1.3s, blink linear 5s infinite;
}

@keyframes blink{
    71%{opacity: 1;}
    73% {opacity: 0;}
    75% {opacity: 1;}
    77% {opacity: 0;}
    80%{opacity: 1;}
}
@keyframes faderight{
    from{opacity: 0; transform: translateX(-30px);}
    to{opacity: 1; transform: translateX(0px);}
}

.glob{
    width: 400px;
    margin-top: -400px;
    margin-right: -300px;
    z-index: -1;
    opacity: .3;
}

@media screen and (max-width:480px) {
    h1{
        font-size: 8vmin;
    }
    .arch{
        width: 30vmin;
        margin-right: -25vmin;
    }
    .yrs{
        width: 45vmin;
        margin-top: -20vmin;
        margin-right: 30vmin;

    }
    .container{
        height: auto;
        margin: 5rem 0;
    }
    .glob{
        width: 50vmin;
        margin-top:-55vmin;
        margin-right: -40vmin;
    }
}

.regbtn{
    font-size: 5.5vmin;
    border: none;
    background-color: transparent; 
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    margin: 2rem 0;
    transition: all .5s ease-out;
}

.regbtns{
    font-size: 7.5vmin;
    border: none;
    background-color: transparent; 
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    margin: 2rem 0;
    transition: all .5s ease-out;
}
.allbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vmin;
}
.regbtn a{
    text-decoration: none;
    color: lime;
}
.regbtns a{
    text-decoration: none;
    color: lime;
}

.regbtn:hover a{
    color: white;
    text-shadow: 0px 0px 50px 2px white;
}
.regbtns:hover a{
    color: white;
    text-shadow: 0px 0px 50px 2px white;
}
.post{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.eve{
    width: 100%;
    height: auto;
}
.eve p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vmin;
    font-weight: bold;
}
.tec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}
.nontec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;

}
.evebtn{
    font-family: 'Inconsolata',monospace;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 5.5vmin;
    margin: 1rem 3rem;
    border: 1px solid lime;
    cursor: pointer;
    transition: all .3s ease-in;
}
.evebtn:hover{
    background-color: #00ff00;
    color: #000;
    box-shadow: 0 0 15px 1px #fff;
}
.poster{
    width: 150vmin;
    cursor: pointer;
    border: 2px solid lime;
    padding: 10px;
}

.timer{
    border: 1px solid #00ff00;
    margin-bottom: 5rem;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}
.timer p{
    margin: 0 0.9rem;
}
.colon{
    font-size: 2rem;
}